body {
    font-family: 'Courier New', Courier, monospace; /* Rodzina czcionek */
    font-size: 20px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #fffaeb; /* Kolor tła strony internetowej */
    color: #000000 /* Kolor tekstu*/ 
}

@keyframes color-change {
    0% {
      color: blue;
    }

    50% {
      color: red;
    }

    100% {
      color: blue;
    }
  }

h1:hover {
    animation: color-change 3s infinite;
}
